.vscode/*
.spyproject/*
VS-FollowUpward.code-workspace
.ipynb_checkpoints/FollowUpwardTrading-checkpoint.ipynb
.ipynb_checkpoints/ticker-checkpoint.ipynb
__pycache__/*
*.pyc
Untitled*
*.html
*.msg
.ipynb_checkpoints/08.Plotting-checkpoint.ipynb
08.Plotting.ipynb
