.vscode/settings.json
__pycache__/targets_features.cpython-36.pyc
__pycache__/catalyst_frame.cpython-36.pyc
.spyproject/workspace.ini
__pycache__/plot_crypto_classification.cpython-36.pyc
__pycache__/targets_features.cpython-36.pyc
.spyproject/encoding.ini
.spyproject/codestyle.ini
__pycache__/targets_features.cpython-36.pyc
VS-FollowUpward.code-workspace
.ipynb_checkpoints/FollowUpwardTrading-checkpoint.ipynb
.ipynb_checkpoints/ticker-checkpoint.ipynb
__pycache__/mpl_finance.cpython-36.pyc
